#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
sudo apt update && sudo apt upgrade
sudo apt install fzf tmux -y
# install zsh and ohmyzsh + p10k
if ! [[ -x "$(command -v zsh)" ]]; then
	sudo apt install zsh curl git -y
fi
if [[ "$SHELL" != "$(which zsh)" ]]; then
	sudo chsh -s "$(which zsh)"
fi
# lazygit
if ! [ -x "$(command -v lazygit)" ]; then
	LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^\"]*')
	curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
	tar -xf lazygit.tar.gz lazygit && rm lazygit.tar.gz
	sudo install lazygit /usr/local/bin
fi
# jump
if ! [ -x "$(command -v jump)" ]; then
	curl -Lo jump_0.51.0_amd64.deb https://github.com/gsamokovarov/jump/releases/download/v0.51.0/jump_0.51.0_amd64.deb && sudo dpkg -i jump_0.51.0_amd64.deb && rm jump_0.51.0_amd64.deb
fi
{{ else if eq .chezmoi.os "darwin" -}} 
# see if homebrew is installed, install it if not
if ! [ -x "$(command -v brew)"  ]; then
	echo "Installing homebrew"
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> ~/.zprofile
fi
brew update
echo "Installing age, git, lazygit, and jump"
brew install age git lazygit jump 
echo "Installing flycut"
brew install --cask flycut 
# Download zimfw plugin manager if missing.
if [[ ! -e ${ZIM_HOME}/zimfw.zsh ]]; then
  curl -fsSL --create-dirs -o ${ZIM_HOME}/zimfw.zsh \
      https://github.com/zimfw/zimfw/releases/latest/download/zimfw.zsh
fi
# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then

  source ${ZIM_HOME}/zimfw.zsh init -q
fi
source ${ZIM_HOME}/init.zsh
{{ end -}}
